:host{
  background-color:#2F2D2E;
  width:100%;
  height:100px;
  text-align: center;
  color:white;
}
p {
  display: block;
  font-size: 250%;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
}