:host{
  background-color:#DFDFDF;
  height:30rem;
  width:45%;
  margin:10px;
  text-align: center;

}
p {
  display: block;
  font-size: 250%;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
}